doctype html
html
  head(id="myHead")
    title TypeScript HTML App
    link(rel='stylesheet', href='/stylesheets/main.css')
    
    script(src="javascripts/Game/lib/gl-matrix.js")

    script(src="javascripts/Game/Engine/Transform.js")
    script(src="javascripts/Game/Engine/Core/Engine_Core.js")
    script(src="javascripts/Game/Engine/Core/Engine_VertexBuffer.js")
    script(src="javascripts/Game/Engine/SimpleShader.js")
    script(src="javascripts/Game/Engine/Renderable.js")
    script(src="javascripts/Game/Engine/Camera.js")
    script(src="javascripts/Game/Engine/Core/Engine_GameLoop.js")
    script(src="javascripts/Game/Engine/Core/Engine_GameInput.js")
    script(src="javascripts/Game/DxBallGame/MyGame.js")

  body
    h1 DxBall Game
    canvas(id="GLCanvas", height="1020", width="1920")
   
        
        

